body {
    background: #131115;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
}
#c1 {
    background: #fbf7fe;
    position: fixed;
    left: 0px;
    top: 0px;
}
#btn {
    position: fixed;
    left: 0px;
    top: 0px;
}
#main {
    transform-origin: 0px 0px;
    position: fixed;
    left: 0px;
    top: 0px;
}
#config {
    position: fixed;
    left: 0px;
    top: 30px;
    display: none;
}